body
{
    background-color: aliceblue; 
}
fieldset
{
    background-color: #FFFFF0;
}

input[type="text"], select
{
    display: block;
    margin-bottom: 7px;
}

li label{
    width: 150px;
    display: inline-block;
}

input[type="radio"]{
    width: 30px;
    display: inline-block;
}

input[type="submit"]{
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 5%;
    background-color:#fffff0;
}
    input[type="submit"]:hover, .reporthome button:hover
    {
        background-color:black;
        color:#fffff0;
    }

p label
{
    width: 100px;
    display: inline-block;
}

input[type="email"], input[type="password"]{
    display: inline-block;
    width: 150px;
}

.reporthome div label
{
    font-size:20px;
    width: 150px;
    display: inline-block;
}
.reporthome input[type="submit"], .reporthome button, .reporthome a, a.reporthome{
    display:inline;
    font-size: 20px;
    border-radius: 5%;
    background-color: aliceblue;
    text-decoration:none;
    margin-bottom:5px;
}
.reporthome input[type="submit"]:hover{
    background-color: black;
    color: aliceblue;
}
form{
    display:inline;
}

.reporthome button{
    background-color: #fffff0;
}



